<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/crearProducto.css">

        <title>Crear producto</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <section class="section-crearProducto">
            <form action="/crear-producto" method="post" enctype="multipart/form-data">

                <!-- Información General -->
                <article class="article-crearProducto">
                    <h2 class="crearProducto-titulo">Información General</h2>
                    <label class="crearProducto-subtitulo" for="nombre">Nombre del Producto:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label class="crearProducto-subtitulo" for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                    <!-- Precio del Producto -->

                    <label class="precio-container crearProducto-subtitulo" for="precio">Precio:</label>
                    <label for="precio">Precio:</label>
                    <div class="precio-container">
                        <span class="simbolo-moneda">$</span>
                        <input type="text" id="precio" name="precio" required>
                    </div>

                    <!-- Imagen del Producto -->
                    <h2 class="crearProducto-titulo">Imagen del Producto</h2>

                    <input type="file" id="imagen" name="imagen" accept="image/*" required>

                    <!-- Categoría del Producto -->
                    <h2 class="crearProducto-titulo">Categorías</h2>
                    <select id="categoria" name="categoria" required>
                        <option value="almacenamiento">Almacenamiento</option>
                        <option value="fuentes">Fuentes</option>
                        <option value="gpus">Placas de video</option>
                        <option value="ram">Memorias RAM</option>
                        <option value="procesadores">Procesadores</option>
                        <option value="motherboards">Motherboards</option>
                        <option value="gabinetes">Gabinetes</option>
                    </select>

                    <!-- Colores del Producto -->
                    <h2 class="crearProducto-titulo">Colores</h2>
                    <label>
                        <input class="crearProducto-check" type="checkbox" name="color" value="rojo">Rojo
                    </label>
                    <label>
                        <input class="crearProducto-check" type="checkbox" name="color" value="azul">Azul
                    </label>
                    <label>
                        <input class="crearProducto-check" type="checkbox" name="color" value="verde">Verde
                    </label>


                    <div class="botones">
                        <!-- Botón de Enviar -->
                        <button class="boton crear" type="submit">Crear</button>
                        <button class="boton volver" type="submit">Volver</button>
                    </div>
                </article>











            </form>
        </section>
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>