<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../css/productCart.css">

    <title>Invictus Hard Store</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>


        <section class="carrito-section">
            <div class="carrito-div">
                <article class="carrito-article">
                    <div class="imagen-producto-div">
                        <img class="imagen-producto" src="../images/productCart/graphc_4060.png" alt="GPU">
                    </div>
                    <div class="main-article">

                        <p class="nombre-producto">Placa de Video ASUS Nvidia Geforce RTX 4060 DUAL 8GB OC GDDR6</p>
                        <div class="cantidad-producto">
                            <button class="botones-cantidad boton-menos" type="button">
                                -
                            </button>
                            <input class="input-numero" min="1" max="10" type="number" value="1">
                            <button class="botones-cantidad boton-mas" type="button">
                                +
                            </button>
                        </div>
                        <p class="precio-producto">$459.000</p>
                    </div>
                </article>

                <article class="carrito-article">
                    <div class="imagen-producto-div">
                        <img class="imagen-producto" src="../images/productCart/auricular_hyperx.png" alt="AURICULAR">
                    </div>
                    <div class="main-article">

                        <p class="nombre-producto">Auriculares HyperX Cloud Flight Black Wireless</p>
                        <div class="cantidad-producto">
                            <button class="botones-cantidad boton-menos" type="button">
                                -
                            </button>
                            <input class="input-numero" min="1" max="10" type="number" value="1">
                            <button class="botones-cantidad boton-mas" type="button">
                                +
                            </button>
                        </div>
                        <p class="precio-producto">$114.000</p>
                    </div>
                </article>

                <article class="carrito-article">
                    <div class="imagen-producto-div">
                        <img class="imagen-producto" src="../images/productCart/cooler_cpu_id.png" alt="Cooler CPU ID">
                    </div>
                    <div class="main-article">

                        <p class="nombre-producto">Cooler CPU ID-Cooling SE-207-XT Advanced Black</p>
                        <div class="cantidad-producto">
                            <button class="botones-cantidad boton-menos" type="button">
                                -
                            </button>
                            <input class="input-numero" min="1" max="10" type="number" value="1">
                            <button class="botones-cantidad boton-mas" type="button">
                                +
                            </button>
                        </div>
                        <p class="precio-producto">$85.000</p>
                    </div>
                </article>
                <article class="carrito-article">
                    <div class="imagen-producto-div">
                        <img class="imagen-producto" src="../images/productCart/mouse_logitech_g203.png"
                            alt="MOUSE LOGITECH">
                    </div>
                    <div class="main-article">

                        <p class="nombre-producto">Mouse Logitech G203 Lightsync RGB Black</p>
                        <div class="cantidad-producto">
                            <button class="botones-cantidad boton-menos" type="button">
                                -
                            </button>
                            <input class="input-numero" min="1" max="10" type="number" value="1">
                            <button class="botones-cantidad boton-mas" type="button">
                                +
                            </button>
                        </div>
                        <p class="precio-producto">$30.000</p>
                    </div>
                </article>
                <article class="carrito-article">
                    <div class="imagen-producto-div">
                        <img class="imagen-producto" src="../images/productCart/proc_intel_i5.png"
                            alt="PROCESADOR INTEL">
                    </div>
                    <div class="main-article">

                        <p class="nombre-producto">
                            Procesador Intel Core i5 12400F 4.4GHz Turbo Socket 1700 Alder Lake</p>
                        <div class="cantidad-producto">
                            <button class="botones-cantidad boton-menos" type="button">
                                -
                            </button>
                            <input class="input-numero" min="1" max="10" type="number" value="1">
                            <button class="botones-cantidad boton-mas" type="button">
                                +
                            </button>
                        </div>
                        <p class="precio-producto">$260.000</p>
                    </div>
                </article>
                <article class="carrito-article">
                    <div class="imagen-producto-div">
                        <img class="imagen-producto" src="../images/productCart/teclado_mecanico_k630_redragon.png"
                            alt="TECLADO K630 REDRAGON">
                    </div>
                    <div class="main-article">

                        <p class="nombre-producto">
                            Teclado Mecanico Redragon Dragonborn K630 RGB 60% Outemu Brown</p>
                        <div class="cantidad-producto">
                            <button class="botones-cantidad boton-menos" type="button">
                                -
                            </button>
                            <input class="input-numero" min="1" max="10" type="number" value="1">
                            <button class="botones-cantidad boton-mas" type="button">
                                +
                            </button>
                        </div>
                        <p class="precio-producto">$47.950</p>
                    </div>
                </article>
                <div class="compra">
                    <div class="total-comprar">
                        <p class="total">Total:$995.950</p>
                        <button class="boton-compra" type="button">
                            Comprar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

        <%- include('../partials/footer.ejs') %>

    </footer>

</body>

</html>