*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fbf8efc0;
}

body{
    background-color: #04D0D9;
}

div.imgLogo{
    width: 10%;
    height: 10%;
}



/* MAIN */

/* Estilos para el contenedor principal */
.detalle-producto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Estilos para las dos partes del contenedor */
.imagen-titulo {
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.precio-info-botones {
    flex: 1;
    text-align: center;
}

/* Estilos para las miniaturas de las imágenes */
.miniatura-imagen {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

/* Estilos adicionales según necesidades */
img {
    max-width: 100%;
    height: auto;
}

#miniaturas {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    z-index: 1;
}

/* Estilos para los botones */
.boton-pequeno {
    display: block;
    width: 40%;
    margin: auto;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-pequeno:hover {
    background-color: #0056b3;
}

.boton-eliminar {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 10px;
    width: 40%;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-eliminar:hover {
    background-color: #c82333;
}

/* Estilos para formas de pago */

 /* Estilos para la información adicional */
 .precio-info-botones p {
     margin: 0 0 10px;
 }

 .precio-info-botones ul {
     list-style-type: none;
     padding: 0;
 }

 .precio-info-botones li {
     margin-bottom: 5px;
 }

 .precio-info-botones a:hover {
     text-decoration: underline;
 }

/* Estilos para las especificaciones en tres columnas */
.especificaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
    background-color: #fbf8efc0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.titulo-especificaciones {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin-bottom: 20px;
    /* Espacio entre el título y las columnas */
}

.grupo-especificaciones {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    /* Asegura que el margen no aumente el ancho real */
}

.categoria {
    font-weight: bold;
    margin-bottom: 5px;
}

.detalle {
    margin-left: 15px;
}

.grupo-especificaciones ul {
    list-style-type: none;
    padding: 0;
}

.grupo-especificaciones li {
    margin-bottom: 5px;
}

/* FOOTER */

footer{
    background-color: #fbf8efc0;
    padding: 10px;
}

.icono{
    text-align: center;
    color: #123666;
    font-size: 35px;
    margin: 10px;
}

.containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.seccion{
    flex-basis: 33%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.seccion i{
    font-size: 20px;
}

.seccion p{
    margin: 6px;
    font-family:'Hind Madurai', sans-serif;
}

.copyright{
    text-align: center;
    font-size: 18px;
    font-family:'Lora', serif;
    margin-bottom: 10px;
}

/* Estilos para pantallas de hasta 480px de ancho */
@media(max-width: 480px) {
    .detalle-producto {
        flex-direction: column; /* Cambiar la dirección del flex para apilar los elementos */
        align-items: center; /* Centrar horizontalmente */
    }

    .especificaciones {
        order: -1; /* Mover la sección de especificaciones arriba */
        width: 100%;
        margin-bottom: 20px;
    }

    .titulo-especificaciones {
        width: 100%;
        margin-bottom: 20px;
    }

    .grupo-especificaciones:nth-child(2) {
        order: 2; /* Mover la caja de "General" debajo de la caja de "Descripcion" */
    }

    .precio-info-botones {
        order: 3; /* Cambiar el orden para que aparezca debajo del contenido */
        width: 100%; /* Ancho completo */
    }
}

/* Estilos para pantallas de 768px a 991px de ancho */
@media(min-width: 768px) and (max-width: 991px) {
    .detalle-producto {
        max-width: 600px; /* Ancho máximo ajustado */
        margin: auto; /* Centrar horizontalmente */
    }
}

/* Estilos para pantallas de 1024px a 1930px de ancho */
@media(min-width: 1024px) and (max-width: 1930px) {
    .detalle-producto {
        max-width: 800px; /* Ancho máximo ajustado */
        margin: auto; /* Centrar horizontalmente */
    }
}