*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fbf8efc0;
}

body{
    background-color: #04D0D9;
}

div.imgLogo{
    width: 10%;
    height: 10%;
}

/* Barra de navegacion*/
nav{
    background-size: 500px;
    border-radius: 3px;
    padding: 20px;
    margin-top: 10px;
}

nav ul li{
	display:inline-block; /*hace que el comportamiento del elemento sea de bloque en linea*/
	box-sizing:border-box; /* el relleno y el borde están incluidos en el ancho y la altura*/
	padding:5px 5px;  /*arriba y abajo 5px de padding, izquierda y derecha 5px de padding */
   /* background: #9ACB34; */
    border-radius: 6px;
   /* border-style: ridge; */
}

.nav-lista{
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: rgb(51, 34, 117);
  outline: none;
  line-height: 35px;
  font-family: 'Lora', serif;
  font-size: 17px;
}

.nav-lista:hover {
  background-color: #35e9628a;
  padding: 10px;
  color: #ffffff;
} 

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.imgLogo{
    flex-basis: 10%; /* Reduzco ligeramente el porcentaje para dejar espacio entre los elementos */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho especificado */
    text-align: left;
    width: 20%;
    margin: 10px;
}

.nav-caja{
    flex-basis: 40%;
    box-sizing: border-box;
    margin: 20px;
}

.nav-icono{
    flex-basis: 30%;
    text-align: right;
    font-size: 40px; 
    margin: 20px;
}

.nav-icono i{
    color: #123666;
}

/* MAIN */

/* Estilos para el contenedor principal */
.detalle-producto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Estilos para las dos partes del contenedor */
.imagen-titulo {
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.precio-info-botones {
    flex: 1;
    text-align: center;
}

/* Estilos para las miniaturas de las imágenes */
.miniatura-imagen {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

/* Estilos adicionales según necesidades */
img {
    max-width: 100%;
    height: auto;
}

#miniaturas {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    z-index: 1;
}

/* Estilos para los botones */
.boton-pequeno {
    display: block;
    width: 40%;
    margin: auto;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-pequeno:hover {
    background-color: #0056b3;
}

/* Estilos para formas de pago */

 /* Estilos para la información adicional */
 .precio-info-botones p {
     margin: 0 0 10px;
 }

 .precio-info-botones ul {
     list-style-type: none;
     padding: 0;
 }

 .precio-info-botones li {
     margin-bottom: 5px;
 }

 .precio-info-botones a:hover {
     text-decoration: underline;
 }

/* Estilos para las especificaciones en tres columnas */
.especificaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Centra las columnas */
    text-align: center;
    /* Centra el título */
    align-items: flex-start;
    /* Alinea el contenido en la parte superior */
}

.titulo-especificaciones {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin-bottom: 20px;
    /* Espacio entre el título y las columnas */
}

.grupo-especificaciones {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    /* Asegura que el margen no aumente el ancho real */
}

.categoria {
    font-weight: bold;
    margin-bottom: 5px;
}

.detalle {
    margin-left: 15px;
}

.grupo-especificaciones ul {
    list-style-type: none;
    padding: 0;
}

.grupo-especificaciones li {
    margin-bottom: 5px;
}

/* FOOTER */

footer{
    background-color: #fbf8efc0;
    padding: 10px;
}

.icono{
    text-align: center;
    color: #123666;
    font-size: 35px;
    margin: 10px;
}

.containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.seccion{
    flex-basis: 33%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.seccion i{
    font-size: 20px;
}

.seccion p{
    margin: 6px;
    font-family:'Hind Madurai', sans-serif;
}

.copyright{
    text-align: center;
    font-size: 18px;
    font-family:'Lora', serif;
    margin-bottom: 10px;
}

