.section-crearProducto{
    width:40%;
    background-color: #FBF8EF;
    border-radius:10px;
    position:relative;

    margin:20px auto;
}

.article-crearProducto{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #353E4A;
    position:relative;
}

.crearProducto-titulo{
    font-family: 'Lora', serif;
    font-size: 20px;
    padding:10px; 
}

.crearProducto-subtitulo{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

select{
    border-radius: 5px;
    height:40px;
    border:none;
    width: 100%;
    border: 1px solid #ccc;
}

select:focus{
    outline:none;
    border:3px solid #9ACB34;
}

input{
    border-radius: 5px;
    height:40px;
    border:none;
    border: 1px solid #ccc;
    background-color: white;
}
input[type="file"]{
    padding:10px;
}

input{
    outline:none;
}

input:focus{
    outline: 3px solid #9ACB34
}

#nombre:focus{
    outline:none;
    border:3px solid #9ACB34;
}

precio-container:focus{
    outline:none;
    border:3px solid #9ACB34;
}

textarea:focus{
    outline:none;
    border:3px solid #9ACB34;
}

textarea{
    border-radius: 5px;
    height:100px;
    border:none;
    border: 1px solid #ccc;
}

#imagen{
    border-radius:5px;
}

label{
    position:relative;
    left: 20px;
    display: flex;
    padding-top:10px;
}

.crearProducto-check{
    position:relative;
    bottom: 12px;
    right:5px;
}

.botones{
    display:flex;
    justify-content: space-around;
    margin-top: 16px;
}

.boton{
    width: 150px;   
    border-radius:5px;
    border:none;
    transition: background-color, 0.5s;
    
    background-color: #04d0d9;
    margin-bottom: 15px;
}

.crear:hover{
    color: rgba(17, 24, 39, 1);
  
}
.volver:hover{
    background-color: #bfc1c3;
    border:1px solid #353E4A;
}

.precio-container {
    position: relative;
}
  
.simbolo-moneda {
    position: absolute;
    left: 10px; /* Ajusta la posición según tus necesidades */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px; /* Ajusta el tamaño según tus necesidades */
    color: #555; /* Ajusta el color según tus necesidades */
}
  
#precio {
    padding-left: 30px; /* Espacio para el símbolo de dólar */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    width: 100%;
}

#precio:focus{
    outline:none;
    outline:none;
    border:3px solid #9ACB34;
}

.li-producto{
    padding-top: 15px;
    list-style: disc;
    text-align: left;
    margin-left: 25px;
    color: crimson;
    font-size: 17px;
}

.busqueda-resultado{
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

/* Estilos para pantallas de hasta 480px de ancho */
@media(max-width: 480px) {

    .section-crearProducto{
        width: 95%;
        align-content: center;
    }
    .article-crearProducto {
        width:100%;
        margin: 0 auto;
        flex-wrap: wrap;
        align-content: center;
    }
    input{
        width:85%;
     
    }

    textarea{
        width:85%;
    }
    /* Agregar más ajustes según sea necesario para esta resolución */
}

/* Estilos para pantallas de 768px a 991px de ancho */
@media(min-width: 768px) and (max-width: 991px) {
    .section-crearProducto{
        width: 90%;
    }
    .article-crearProducto {
        width:90%;
        position:relative;
        margin: 0 auto;
        padding-top:15px;
        padding-bottom:15px;
        
    }
    input{
        width:100%;
        
    }

    textarea{
        width:100%;
    }


    /* Agregar más ajustes según sea necesario para esta resolución */
}

/* Estilos para pantallas de 1024px a 1930px de ancho */
@media(min-width: 1024px) and (max-width: 1930px) {
    .article-crearProducto {
        width: 90%; /* Cambiar el ancho del artículo para adaptarlo al tamaño de la pantalla */

        margin: 0 auto; /* Centrar horizontalmente */
    }

    /* Agregar más ajustes según sea necesario para esta resolución */
}