*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 font-family: 'Montserrat', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Hind Madurai', sans-serif;
*/

header{
    background-color: #fbf8efc0;
}

body{
    background-color: #04D0D9;
}

div.imgLogo{
    width: 10%;
    height: 10%;
}

/* Barra de navegacion*/
nav{
    background-size: 500px;
    border-radius: 3px;
    padding: 20px;
    margin-top: 10px;
}

nav ul li{
	display:inline-block; /*hace que el comportamiento del elemento sea de bloque en linea*/
	box-sizing:border-box; /* el relleno y el borde están incluidos en el ancho y la altura*/
	padding:5px 5px;  /*arriba y abajo 5px de padding, izquierda y derecha 5px de padding */
   /* background: #9ACB34; */
    border-radius: 6px;
   /* border-style: ridge; */
}

.nav-lista{
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: rgb(51, 34, 117);
  outline: none;
  line-height: 35px;
  font-family: 'Lora', serif;
  font-size: 17px;
}

.nav-lista:hover {
  background-color: #35e9628a;
  padding: 10px;
  color: #ffffff;
} 

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.imgLogo{
    flex-basis: 10%; /* Reduzco ligeramente el porcentaje para dejar espacio entre los elementos */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho especificado */
    text-align: left;
    width: 20%;
    margin: 10px;
}

.nav-caja{
    flex-basis: 40%;
    box-sizing: border-box;
    margin: 20px;
}

.nav-icono{
    flex-basis: 30%;
    text-align: right;
    font-size: 40px; 
    margin: 20px;
}

.nav-icono i{
    color: #123666;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    font-size:40px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 68, 255), 0 0 5px rgb(0, 0, 221);
}

/**
   Slider
*/

.destacados{
    background-color: #fbf8efc0;
    margin-bottom: 50px;
    padding: 20px;
}

.producto{
    background-color: #9ACB34;
    border-radius: 10px;
    border: 1px solid #353E4A;
}

/**
    Footer
*/

footer{
    background-color: #fbf8efc0;
    padding: 10px;
}

.icono{
    text-align: center;
    color: #123666;
    font-size: 35px;
    margin: 10px;
}

.containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.seccion{
    flex-basis: 33%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.seccion i{
    font-size: 20px;
}

.seccion p{
    margin: 6px;
    font-family:'Hind Madurai', sans-serif;
}

.copyright{
    text-align: center;
    font-size: 18px;
    font-family:'Lora', serif;
    margin-bottom: 10px;
}



