body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #04D0D9;
}

.header_container {
    background-color: #FBF8EF;
    color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #353E4A;
    font-weight: bold;
    font-size: 16px;
}

.main {
    padding: 20px;
}

.logo img {
    max-width: 200px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.form-register {
    max-width: max-content;
    margin: 0 auto;
    background-color: #9ACB34;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-register input[type="submit"] {
    background-color: #353E4A;
    color: white;
    cursor: pointer;
}

/* Ajustes específico*/
.form-register input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
}

.form-register input[type="file"] {
    width: 100%;
    border: solid 1px #ffffff;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.form-register select {
    width: 100%;
    border: solid 1px #ffffff;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 10px;
}

.class-checkbox{
    text-align: center;
    width: 100%;
}

.class-checkbox label {
    display: flex;
    align-items: center;
}

.class-checkbox input[type="checkbox"] {
    margin: 10px;
    vertical-align: middle;
    width: 20px; 
    height: 20px; 
}

.div-container {
    display: flex; /* Flexbox --> alinear los elementos horizontalmente */
}

.class-input{
    flex: 1; /* Cada input ocupara un espacio igual dentro del contenedor */
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
    box-sizing: border-box;
}

.class-input + .class-input {
    margin-left: 15px; 
}

.footer {
    background-color: #353E4A;
    color: white;
    text-align: center;
    padding: 10px;
}

.li-registro{
    list-style: disc;
    text-align: left;
    margin-left: 25px;
    color: crimson;
    font-size: 17px;
}


/* Ajustes para tamaños de pantalla más pequeños (tablets y celulares) */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        margin-top: 10px;
        order: 2;
    }

    .menu li {
        margin-bottom: 10px;
    }

    /* Agrego márgenes */
    .menu a {
        margin-bottom: 5px; 
    }

    .logo {
        order: 1; /* Cambio el oreden*/
    }

    .logo img {
        max-width: 400px;
    }

    .form-register {
        max-width: 100%;
    }

    .form-register input {
        width: 100%;
    } 

    .div-container {
        flex-direction: column; /* cambia dirección del flex a columna */
    }

    .class-input {
       flex: none; 
       width: 100%; 
    }

    .class-input + .class-input {
       margin-left: 0px; 
    }
}