<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/index.css">
    <title>Invictus Hard Store</title>
</head>

<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <div class="container-slider"> 
            <div class="slider-frame">
                <ul>
                    <li><img src="../images/slider1.jpg"></li>
                    <li><img src="../images/slider2.jpg"></li>
                    <li><img src="../images/slider3.jpg"></li>
                </ul>
            </div>
        </div>
    
        <section class="destacados">
            <h1>Productos destacados</h1>
            <div class="producto">
                <article>
                    <img src="../images/intel-i5.jpg" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class="titulo">PC INTEL I5 10400 SSD 240GB 8GB</p>
                            <p class="descripcion">Disco Sólido: 240 Gb <br>
                                Capacidad: 8 Gigas <br>
                                Formato: DIMM
                                Expandible: Si</p>
                        </div>
                        <p class="precio">$539.990</p>
                    </div>
                </article>

                <article>
                    <img src="../images/fuente_coolermaster.jpg" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class="titulo">FUENTE COOLER MASTER 750W V2 80+ BRONZE MWE</p>
                            <p class="descripcion">Versión ATX ATX 12V V2.52
                                Voltaje de entrada 100-240V
                                Tamaño del ventilador 120mm</p>
                        </div>
                        <p class="precio">$179.990</p>
                    </div>
                </article>

                <article>
                    <img src="../images/memoria.jpg" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class="titulo">DISCO SOLIDO SSD PNY 256GB M2 NVME CS1031 1700MB/S</p>
                            <p class="descripcion"> Componentes NAND: NAND 3D
                                Factor de forma: M.2 2280
                            </p>
                        </div>
                        <p class="precio">$30990</p>
                    </div>
                </article>

                <article>
                    <img src="../images/ryzen.jpg" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class="titulo">PC AMD RYZEN 5 4600G 8GB SSD 240G</p>
                            <P class="descripcion">Disco Sólido: 240Gb <br>
                                Interfaz: Sata 2.5" <br>
                                Windows 10 - Versión: 64-bits
                                </p>
                        </div>
                        <p class="precio">$419.990</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

</body>
</html>