<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/home.css">
    <!-- ICONO -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Invictus Hard Store</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="imgLogo">
                <img src="" alt="Logo">
            </div>
            <h1>Invictus Hard Store</h1> 
        </div>

        <nav>
                <ul class="">
                    <a href="/">Opcion 1</a>
                    <a href="/">Opcion 2</a>
                    <a href="/">Opcion 3</a>
                    <a href="/">Opcion 4</a>
                </ul>     
        </nav>
    </header>
   
    <main>
        <section> 
            <div class="content-all">
               
            </div>
       </section>

        <section class="">
            
            <div class="producto">
                <article>
                    <img src="" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class=""></p>
                            <p class=""></p>
                        </div>
                        <p class=""></p>
                    </div>
                </article>

                <article>
                    <img src="" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class=""></p>
                            <p class=""></p>
                        </div>
                        <p class=""></p>
                    </div>
                </article>

                <article>
                    <img src="" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class=""></p>
                            <p class=""></p>
                        </div>
                        <p class=""></p>
                    </div>
                </article>

                <article>
                    <img src="" alt="">
                    <div class="main-article">
                        <div class="">
                            <p class=""></p>
                            <P class=""></p>
                        </div>
                        <p class=""></p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-whatsapp-square"></i>
        <div class="footerSecciones">
            <i class="fas fa-map-marker-alt"></i>
            <h3></h3>
            <p></p>
        </div>
       
        <p class="copyright">Copyright © 1991-2024 Invictus Hard Store S.R.L.</p>

    </footer>
    
</body>
</html>