<nav>
    <div class="container">
        

        <img class="imgLogo" src="/images/logo-InvictusHardStore-1.png" alt="Logo">

        <div class="nav-caja2">
            <a href="/"><i class="fa fa-bars"></i></a>
        </div>

        <div class="nav-caja">
            <ul>
                <li>
                    <a class="nav-lista" href="/">Inicio</a>
                </li>
                <li>
                    <% if (locals.isLoged) { %>
                        <% if (locals.userLogged.roles_id===1) { %>
                            <a class="nav-lista" href="/products/create">Crear Producto</a>
                            <% } %>
                                <% } %>
                </li>
                <li>
                   <!-- <a class="nav-lista" href="/products/list">Todos los Productos</a> -->
                    <a class="nav-lista" href="/products/prodList">Todos los Productos</a>
                </li>
            </ul>
        </div>

        <div class="nav-icono">


            <% if (locals.isLoged) { %>
                <div class="dropdown">
                    <span class="userDrop" style="display: flex; align-items: center; gap: 5px;">
                        <img src="/images/users/<%= locals.userLogged.img %>" alt="user-image" class="user-image">
                        <%= locals.userLogged.first_name %>
                    </span>
                    <div class="dropdown-options">
                        <a href="/users/profile">Perfil</a>
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
                <% if (locals.userLogged.roles_id===1) { %>
                    <a href="http://localhost:5173/" target="_blank" ><i class="fas fa-tachometer-alt"></i></a>
                <% } %>
                <% }else{ %>
                    <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                    <% } %>
                        <a href="/cart"><i class="fas fa-cart-arrow-down"></i></a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const burgerIcon = document.querySelector('.nav-caja2');
        const navMenu = document.querySelector('.nav-caja');

        burgerIcon.addEventListener('click', function(e) {
            e.preventDefault();
            navMenu.classList.toggle('active');
        });
    });
</script>