<nav>
    <div class="container">
        <div class="nav-caja2">
            <a href="/"><i class="fa fa-bars"></i></a>
        </div>

        <img class="imgLogo" src="/images/logo-InvictusHardStore-1.png" alt="Logo">

        <div class="nav-caja">
            <ul>
                <li>
                    <a class="nav-lista" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-lista" href="/products/create">Crear Producto</a>
                </li>
                <li>
                    <a class="nav-lista" href="/products/list">Todos los Productos</a>
                </li>
            </ul>
        </div>

        <div class="nav-icono">
      

            <% if (typeof user !== 'undefined' && user) { %>
            <div class="dropdown">
                <button><%= user.username %></button>
                <div class="dropdown-options">
                  <a href="/users/profile">Perfil</a>
                  <a href="#">Logout</a>
                </div>
              </div>      
              <% } %>
            <a href="/Users/login"><i class="fas fa-user-circle"></i></a>
            <a href="/products/cart"><i class="fas fa-cart-arrow-down"></i></a>
        </div>
    </div>
</nav>