<nav>
    <div class="container">
        <div class="nav-caja2">
            <a href="/"><i class="fa fa-bars"></i></a>
        </div>

        <img class="imgLogo" src="../images/logo-InvictusHardStore-1.png" alt="Logo">

        <div class="nav-caja">
            <ul>
                <li>
                    <a class="nav-lista" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-lista" href="/">Opcion2</a>
                </li>
                <li>
                    <a class="nav-lista" href="/">Opcion 3</a>
                </li>
            </ul>
        </div>

        <div class="nav-icono">
            <a href="/login"><i class="fas fa-user-circle"></i></a>
            <a href="/"><i class="fas fa-cart-arrow-down"></i></a>
        </div>
    </div>
</nav>