<nav>
    <div class="container">
        

        <img class="imgLogo" src="/images/logo-InvictusHardStore-1.png" alt="Logo">

        <div class="nav-caja2">
            <a href="/"><i class="fa fa-bars"></i></a>
        </div>

        <div class="nav-caja">
            <ul>
                <li>
                    <a class="nav-lista" href="/">Home</a>
                </li>
                <li>
                    <% if (locals.isLoged) { %>
                        <% if (locals.userLogged.roles_id===1) { %>
                            <a class="nav-lista" href="/products/create">Crear Producto</a>
                            <% } %>
                                <% } %>
                </li>
                <li>
                   <!-- <a class="nav-lista" href="/products/list">Todos los Productos</a> -->
                    <a class="nav-lista" href="/products/prodList">Todos los Productos</a>
                </li>
            </ul>
        </div>

        <div class="nav-icono">


            <% if (locals.isLoged) { %>
                <div class="dropdown">
                    <span class="userDrop" style="display: flex; align-items: center; gap: 5px;">
                        <img src="/images/users/<%= locals.userLogged.img %>" alt="user-image" class="user-image">
                        <%= locals.userLogged.first_name %>
                    </span>
                    <div class="dropdown-options">
                        <a href="/users/profile">Perfil</a>
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
                <% if (locals.userLogged.roles_id===1) { %>
                    <a href="http://localhost:5173/" target="_blank" ><i class="fas fa-tachometer-alt"></i></a>
                <% } %>
                <% }else{ %>
                    <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                    <% } %>
                        <a href="/cart"><i class="fas fa-cart-arrow-down"></i></a>
        </div>
    </div>
</nav>
<!-- Modal Cart -->
<div id="cartModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>CARRITO DE COMPRAS</h2>
        <ul id="cartItems">
                <li class="cart-item">
                    <div class="cart-item-image">
                        <img src="../images/fuente_coolermaster.jpg" alt="prod1">
                    </div>
                    <div class="cart-item-details">
                        <p class="cart-item-name">FUENTE COOLER MASTER 750W V2 </p>
                        <p class="cart-item-price">PRECIO: $ 45878</p>
                    </div>
                    <div class="cart-item-quantity">
                        <p>CANTIDAD: 1</p>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="cart-item-image">
                        <img src="../images/intel-i5.jpg" alt="prod1">
                    </div>
                    <div class="cart-item-details">
                        <p class="cart-item-name">PC INTEL I5 10400 SSD 240GB 8GB</p>
                        <p class="cart-item-price">PRECIO: $ 539.990</p>
                    </div>
                    <div class="cart-item-quantity">
                        <p>CANTIDAD: 1</p>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="cart-item-image">
                        <img src="../images/memoria.jpg" alt="prod1">
                    </div>
                    <div class="cart-item-details">
                        <p class="cart-item-name">DISCO SOLIDO SSD PNY 256GB M2 NVME</p>
                        <p class="cart-item-price">PRECIO: $ 30.990</p>
                    </div>
                    <div class="cart-item-quantity">
                        <p>CANTIDAD: 1</p>
                    </div>
                </li>
        </ul>
        <div class="modal-footer">
            <button id="checkoutButton">Ir a la caja</button>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const burgerIcon = document.querySelector('.nav-caja2 a');
        const navMenu = document.querySelector('.nav-caja');

        burgerIcon.addEventListener('click', function(e) {
            e.preventDefault();
            navMenu.classList.toggle('active');
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const cartIcon = document.querySelector('.fa-cart-arrow-down');
        const modal = document.getElementById('cartModal');
        const closeButton = document.querySelector('.modal .close');

        // Mostrar el modal cuando se haga clic en el icono del carrito
        cartIcon.addEventListener('click', function(e) {
            e.preventDefault();
            modal.style.display = 'block';
        });

        // Ocultar el modal cuando se haga clic en la "x"
        closeButton.addEventListener('click', function() {
            modal.style.display = 'none';
        });

        // Ocultar el modal cuando se haga clic fuera del contenido del modal
        window.addEventListener('click', function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });
    });
</script>