<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="icon" href="/images/logo-InvictusHardStore-1.png">
    <link rel="stylesheet" href="../css/registro.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Registrar</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <br>
        <div class="contacto">
            <p><strong>Regístrese</strong></p>
            <p>Ingresa tus datos para crear tu cuenta</p>
        </div>
        <br>
        
        <form action="procesar_registro.php" method="post" class="form-register">
            <div>
                <!-- Nombre y Apellido -->
                <div>
                    <input type="text" name="nombre" required placeholder="Nombre">
                    <input type="text" name="apellido" required placeholder="Apellido">
                </div>
                
                <!-- Correo Electrónico -->
                <div>
                    <input type="email" name="email" required placeholder="Correo electrónico">
                </div>
                
                <!-- Contraseña y Repetir Contraseña -->
                <div>
                    <input type="password" name="contraseña" required placeholder="Contraseña">
                    <input type="password" name="repetir_contraseña" required placeholder="Repetir Contraseña">
                </div>
                
                <div class="contacto">
                    <p><strong>Celular de Contacto</strong></p>
                </div>
                <br>
                <!-- Código de Área y Número de Celular -->
                <div>
                    <input type="text" name="codigo_area" required placeholder="Código de Área">
                    <input type="text" name="numero_celular" required placeholder="Número de Celular">
                </div>
                
                <!-- Términos y Condiciones -->
                <div>
                    <label for="si">Estoy de acuerdo con <a href="#">términos y condiciones</a></label>
                    <input type="checkbox" id="si" name="si" required>
                </div>
                
                <!-- Botón de Registro -->
                <div class="form-register">
                    <input type="submit" value="REGISTRARME">
                </div>
                
                <!-- Iniciar Sesión -->
                <div name="agree">¿Ya tienes cuenta? Inicia sesión <a href="/Users/login">aquí</a></div>
            </div>
        </form>
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>